.clear {
  clear:both;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(255,90,90,0.4);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
}

.booyah-box:hover {
  background: rgba(255,90,90,0.7);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
  background: url('/assets/confectionary.png');
  //font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  font-size: 2em;
}

.navbar-custom {
  background: url('/assets/pentagon.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.branding {
  font-family: 'Finger Paint', cursive;
  font-size: 30px;
  letter-spacing: -2px;
  color: #DE5252;
}

input{
   text-align:center;
}
