<% @places.each do |place| %>
	<div class="booyah-box text-center">
		<h1><%= place.name %></h1><br />
		<i><%= place.address %></i><br /><br /><br />
		<p><%= place.description %></p><br />
	</div>
<% end %>
